---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

import { SHOW_BUY_BUTTON } from "astro:env/server";
import AmazonLogo from "../../components/AmazonLogo.astro";

export async function getStaticPaths() {
  const books = await getCollection('books');

  return books.map((book) => ({
    params: { id: book.id.replace(/\.md$/, "") },
    props: { book },
  }));
}

const { book } = Astro.props;
const { id, data } = book;
const { title, author, img, readtime, description, buy } = data;

const slug = id.replace(/\.md$/, "");

//renderizar el contenido del md
const { Content } = await render(book);
---

<Layout title={`${title} - Dev Books`}>

    <div class="grid">
        <aside>
            <a href="/" class="regresar"> ← Volver atrás</a>
            <img transition:name={`img-${slug}`} class="portada" src={`/${img}`} alt={title} />
            {SHOW_BUY_BUTTON && (
                <a
                    href={buy.spain}
                    title="Comprar libro"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="amazon-button"
                >
                    Comprar en Amazon España
                    <AmazonLogo />
                </a>
            )}
            
        </aside>

        <main>
            <h1 transition:name={`title-${slug}`} class="titulo">{title}</h1>
            <div class="prose prose-invert ">
                <Content />
            </div>
        </main>

    </div>


</Layout>

<style>
    .grid{
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 30px;
    }

    .portada{
        border-radius: 10px;
        max-width: 100%;
        height: auto;
    }

    .titulo{
        font-weight: bolder;
		font-size: xx-large;
        margin-bottom: 10px;
    }

    .info{
        display: block;
		justify-content: center;
		justify-items: left;
    }

    .regresar{
        user-select: all;
        color: gray;
        padding: 10px;
    }

    .regresar:hover{
        text-decoration: underline;
        color: white;
        /* background-color: gray;
        border-radius: 8px; */
    }

    .amazon-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        background-color: #facc15;
        color: #000;
        font-weight: bold;

        padding: 12px 16px;
        border-radius: 8px;

        margin-top: 20px;

        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .amazon-button:hover {
        background-color: #fbbf24;
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .amazon-button:active {
        background-color: #cc7a00;
        transform: translateY(0);
    }


</style>